<h1>Display your Pirate here</h1>
<div class="pirate">
  <label for="name"> Pirate Name:</label><br>
  <input type="text" id="name" name="pirate[name]"><br>
  <label for="weight"> Pirate Weight:</label><br>
  <input type="text" id="weight" name="pirate[weight]"><br>
  <label for="age"> Pirate Height:</label><br>
  <input type="text" id="height" name="pirate[height]"><br>
</div><br>

<h2>Display your first ship here</h2>
<div class="ship">
  <label for="name">First Ship's Name:</label><br>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
  <label for="name">First Ship's Type:</label><br>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
  <label for="name">First Ship's Booty:</label><br>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
</div><br>

<h2>Display your second ship here</h2>
<div class="ship">
  <label for="name">Second Ship's Name:</label><br>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
  <label for="name">Second Ship's Type:</label><br>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
  <label for="name">Second Ship's Booty:</label><br>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>
</div><br>